
<a href='<%= user.profile_url %>' style='color: #b58900'>@<%= user.username %></a>
<a href='<%= user.replies_url %>' class='count-label' href=''><%= user.replies.count %></a>
[<a href='/update/new'>new post</a> <a href='/oauth/logout'>logout</a>]
