<% content_for :title do %>
	twtxt-dir - add an update
<% end %>

<% content_for :header do %>

	<script type='text/javascript'>
		var Ui = {
			onTextChanged: function() {
				var maxLength = _js.update_length || 140;
				var text = $('#js-update-content').val() || '';

				$('#js-char-count').text(maxLength - text.length);
			}
		}

		$(window).load(function() {
			$('#js-update-content').on('keyup', Ui.onTextChanged);
		});
	</script>

<% end %>

<% content_for :body do %>

<div class='section'>posting as <%== html_user_link username %></div>

<form action='/update/save' method='post'>
	<div>
		<textarea name='content' id='js-update-content' class='update-content'><%= post_hint %></textarea>
		
		<% if !result.nil? && !result.empty? %>
			<div class='error-message'><%= result %></div>
		<% end %>

		<div style='margin-top: 4px;'>
			<input type='submit' value='post'>
			<span id='js-char-count'></span>
		</div>
	</div>
</form>

<% end %>