
<% content_for :body do %>

<div id="content">

<table class='console-table'>
	<tbody>
	<% users.each do |user| %>
		<tr>
			<td>@<%= user.username %></td>
			<td><%= user.update_url %></td>
			<td class='numeric'>[<%= user.update_count %> updates]</td>
		</tr>
	<% end %>
	</tbody>
</table>
	


</div>
	
<% end %>