<% content_for :title do %>
	twtxt user directory
<% end %>

<% content_for :header do %>

<% end %>

<% content_for :body do %>

<table class='console-table'>
	<tbody>
	<% users.each do |user| %>
		<tr>
			<td>
				<a class='user-link' href='<%= user.profile_url %>'>@<%= user.username %></a>
			</td>

			<td class='numeric'>[<a href='<%= user.profile_url %>'>last post <%= user.last_post_date.diff_in_words %></a>]</td>
		</tr>
	<% end %>
	</tbody>
</table>

<% end %>