body {
	background-color: #002b36;
	color: #839496;
	font-family: courier new
}

#content {
	margin: 0 auto;
	max-width: 800px;
	padding: 0 1em;
	word-wrap: break-word;
}

#header {
	background-color: #073642;
	padding: 10px 8px;
	margin-bottom: 8px;
}

em {
	font-weight: bold;
	font-style: normal;
}

a {
	color: #93A1A1;
}

a:active {
	color: #268bd2 !important;
}

a.user-link {
	color: #2aa198;
	font-style: bold;
}

table.console-table {
	width: 100%;
	border-collapse: collapse;
}

table.console-table td {
	padding: 4px 6px;
}

td.numeric {
	text-align: right;
}

.update {
	margin-bottom: 8px;
}

.update .header {
	color: #586e75;
	margin-bottom: 4px;
}

.update .content {
}

.section {
	margin-bottom: 8px;
	padding-bottom: 8px;
	border-bottom: 1px solid #839496;
}

.command {
	padding: 8px;
	background-color: black;
}

input[type=text] {
	padding: 3px;
}

input[type=button], 
input[type=submit] {
	font-weight: bold;
	padding: 5px 8px;
	background-color: #eee8d5;
	border: none;
	outline: none;
}

input[type=button]:active, 
input[type=submit]:active {
	background-color: #93a1a1;
}

input#user-username {
	width: 150px;
}


.error-message {
	color: #dc322f;
}

.error-message.ok {
	color: #859900
}

#user-add-error {
	padding: 8px;
}

@media only screen and (max-width:500px) {
	.wide-only {
		display: none;
	}
}
